@use 'tokens';

// CONTAINER
// ---------

.container {
  width: 70vw;
  width: clamp(16rem, 70vw, 63rem);
  margin-inline: auto;
}

// CLUSTER
// -------

.cluster {
  display: grid;
  grid-gap: var(--gap, var(--s-400));
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min, 15ch)), 1fr));
}

// FLOW
// ----

.flow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flow > * {
  margin-top: 0;
  margin-bottom: 0;
}

.flow > * + * {
  margin-top: var(--flow-gap, 1rem);
}

// FULL BLEED
// ----------

.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
