@use 'sass:color';
@use 'sass:map';
@use 'sass:math';

// COLORS

$colors: (
  'rose': (
    900: #2d030d,
    800: #3f0b18,
    600: #6a1d30,
    400: #9d384e,
    200: #c84f68,
    90: #d37586,
    70: #dd939c,
    50: #e4aeb0,
    40: #edc9c8,
    20: #f8eae9,
  ),
  'sea': (
    900: #001411,
    800: #001b1a,
    700: #032c2e,
    600: #064047,
    500: #08525e,
    200: #3d7580,
    90: #668f9b,
    70: #8aa5b2,
    50: #b0c0cb,
    20: #e1e6eb,
  ),
  'gray': (
    700: #2b2723,
    600: #322e2a,
    500: #45413d,
    300: #615e59,
    100: #817f7a,
    70: #a3a19c,
    50: #c3c1bc,
    30: #dcdad5,
    20: #edece6,
    10: #f6f6f3,
  ),
);

$color-bg: map.get(map.get($colors, 'gray'), 20);
$color-text: map.get(map.get($colors, 'gray'), 600);
$color-shadow: map.get(map.get($colors, 'gray'), 30);

// SIZES

$base-size: 1rem;

$size-scale: (
  200: $base-size * 0.56,
  300: $base-size * 0.75,
  400: $base-size,
  500: $base-size * 1.33,
  600: $base-size * 1.77,
  700: $base-size * 2.36,
  900: $base-size * 3.15,
);

// BORDER RADIUS

$radius: (
  'sm': math.div($base-size, 8),
  'md': math.div($base-size, 4),
  'lg': math.div($base-size, 2),
);

// BOX SHADOWS

$shadows: (
  'sm': '0.5px 1px 1px #{color.adjust($color-shadow, $alpha: 0.7)}',
  'md': '1px 2px 2px #{color.adjust($color-shadow, $alpha: 0.333)}, 2px 4px 4px #{color.adjust($color-shadow, $alpha: 0.333)}, 3px 6px 6px #{color.adjust($color-shadow, $alpha: 0.333)}',
  'lg': '1px 2px 2px #{color.adjust($color-shadow, $alpha: 0.2)}, 2px 4px 4px #{color.adjust($color-shadow, $alpha: 0.2)}, 4px 8px 8px #{color.adjust($color-shadow, $alpha: 0.2)}, 8px 16px 16px #{color.adjust($color-shadow, $alpha: 0.2)}, 16px 32px 32px #{color.adjust($color-shadow, $alpha: 0.2)}',
);

// FONTS

$fonts: (
  body: "'Helvetica Neue', sans-serif",
  heading: "'Helvetica Neue', sans-serif",
);
