---
import title from '~/assets/contact.svg';
---

<div class="stack">
  <h2>
    <img src={title.src} width={title.width} height={title.height} alt="Contact" />
  </h2>

  <a href="mailto:klangstof@gmail.com">klangstof@gmail.com</a>
</div>
