.release {
  display: grid;
  align-items: center;
  gap: var(--s-600);
  grid-template-columns: 1fr 1fr;

  figure {
    box-shadow: var(--s-300) var(--s-300) var(--gray-20);
  }

  section {
    order: 1;
  }
}
