---
import { Slice, SliceType } from '../lib/types.js';

import Collage from './collage.astro';
import ReleaseList from './release-list.astro';
import Shows from './shows.astro';

export interface Props {
  slices: Slice[];
}

const { slices } = Astro.props as Props;
---

<main class="[ slices ] [ container flow ]">
  {slices.map((slice) => {
    if (slice.type === SliceType.HEADER) return <Collage />
    if (slice.type === SliceType.RELEASES) return <ReleaseList />
    if (slice.type === SliceType.SHOWS) return <Shows />

    return null;
  })}
</main>

<style lang="scss">
  .slices {
    --flow-gap: var(--s-700);

    :global(h2) {
      --flow-gap: var(--s-900);
      margin-inline: auto;
      opacity: 0.2;
      text-align: center;
      text-transform: uppercase;
    }

    :global(h2 + *) {
      --flow-gap: var(--s-400);
    }
  }
</style>