{
  "extends": [
    "stylelint-config-sass-guidelines",
    "stylelint-config-idiomatic-order"
  ],
  "rules": {
    "order/properties-alphabetical-order": null,
    "selector-class-pattern": "^[a-z]*(?:\\-[a-z0-9]*)*(?:\\_[a-z]*)?(?:\\_[a-z]*)?$",
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": ["attribute"]
      }
    ]
  }
}
